{% extends 'gender_base.html' %}

{% block content %}

<h3 class='title'> Consent Form </h3>

<p>Please review the consent form below. By taking part in the experiment you are agreeing to the form.</p>

<iframe src='/static/gender/consent.pdf' width="100%" height="800px"></iframe>


<form action="/gp/instructions" method="POST">
    {% csrf_token %}
    <div class='button-container'>
        <input type='submit' value="I agree" class='btn btn-dark' id="next">
    </div>
    <input type="hidden" name="db_id" value="{{db_id}}">
</form>

{% endblock %}
