{% extends 'gender_base.html' %}

{% block content %}

<h3 class='title'> Consent Form </h3>

<p>Please review the consent form below. By taking part in the experiment you are agreeing to the form.</p>

<div id='consent-container'>

    <h3 class='consent'>Who is conducting the study, why you have been asked to participate, how you were selected, and what is the approximate number of participants in the study?</h3>
    <p class='consent'>Dr. Lera Boroditsky is conducting a research study to find out more about human cognition. You have been asked to participate in this study because you are between the ages of 18 and 75. You were selected from the Mechanical Turk online work pool. There will be approximately 100 participants in this study.</p>

    <h3 class='consent'>Why is this study being done?</h3>
    <p class='consent'>The purpose of this study is to understand more about how people think and behave.</p>

    <h3 class='consent'>What will happen to you in this study and which procedures are standard of care and which are experimental?</h3>
    <p class='consent'>If you agree to be in this study,
    you will see sentences and look at images and will be asked to answer simple questions (e.g., name the picture, describe the image).</p>

    <h3 class='consent'>How much time will each study procedure take, what is your total time commitment, and how long will the study last?</h3>
    <p class='consent'>Your total time involvement will be no longer than 30 minutes.</p>

    <h3 class='consent'>What risks are associated with this study?</h3>
    <p class='consent'>Participation in this study may involve some added risks or discomforts. These include the following:</p>
        <ol>
            <li>A potential for the loss of confidentiality. The information collected from this study will remain completely confidential – your responses will be associated with a code that is not linked to your name in any way. In addition, research records will be kept confidential to the extent allowed by law. Data will be used only for the purpose of the research. Your name will not be identified in any report of the results. Research records may be reviewed by the UCSD Institutional Review Board, NSF, and the McDonnell Foundation</li>
            <li>Minimal discomfort associated with performing everyday computer tasks, including a potential for mild boredom or fatigue and possible discomfort from being audio or video recorded. The participant may choose to stop the experiment should they feel uncomfortable.</li>
        </ol>
    <p>Because this is a research study, there may also be some unknown risks that are currently unforeseeable.</p>

    <h3 class='consent'>What are the alternatives to participating in this study?</h3>
    <p class='consent'>The alternative to participation in this study is not to participate.</p>

    <h3 class='consent'>What benefits can be reasonably expected?</h3>
    <p class='consent'>There is no direct benefit to you from participating in this study. The investigator, however, may learn more about human cognition, and society may benefit from this knowledge.</p>

    <h3 class='consent'>Can you choose to not participate or withdraw from the study without penalty or loss of benefits?</h3>
    <p class='consent'>Participation in research is entirely voluntary. You may refuse to participate or withdraw or refuse to answer specific questions in an interview or on a questionnaire at any time without penalty or loss of benefits to which you are entitled.</p>

    <h3 class='consent'>Can you be withdrawn from the study without your consent?</h3>
    <p class='consent'>The PI may remove you from the study without your consent if the PI feels it is in your best interest or the best interest of the study. You may also be withdrawn from the study if you do not follow the instructions given you by the study personnel.</p>

    <h3 class='consent'>Will you be compensated for participating in this study?</h3>
    <p class='consent'>You will receive $5.00 for participating in this research. The compensation is prorated on a $10/hour basis, based on the duration of the experimental session.</p>

    <h3 class='consent'>Are there any costs associated with participating in this study?</h3>
    <p class='consent'>There will be no cost to you for participating in this study.</p>

    <h3 class='consent'>Who can you call if you have questions?</h3>
    <p class='consent'>Dr. Boroditsky and/or the instruction provided here have explained this study to you and answered your questions. If you have other questions or research-related problems, you may reach Dr. Boroditsky at (858)-534-4135.</p>

    <h3 class='consent'>Your Consent</h3>
    <p class='consent'>By clicking <b>I agree</b>, you agree to this consent form.</p>

</div>
<!-- <iframe src='/static/gender/consent.pdf' width="100%" height="800px"></iframe> -->


<form action="/gp/instructions" method="POST">
    {% csrf_token %}
    <div class='button-container'>
        <input type='submit' value="I agree" class='btn btn-dark' id="next">
    </div>
    <input type="hidden" name="db_id" value="{{db_id}}">
</form>

{% endblock %}
