{% extends 'gender_base.html' %}

{% block content %}

<form action="/gender/finish">

<div class='question'>

    <h3 class='question-title'>How old are you?</h3>

    <input type="number" min="0" max="120" style="width:100px" required>

</div>

{% for question in questions %}

<div class='question'>

    <h3 class='question-title'>{{question.title}}</h3>

    {% for option in question.options %}
    <div class='radio-option'>
        <input type='radio' name='{{question.question_id}}' id='{{question_id}}_{{forloop.counter}}' required/>
        <label for='{{question_id}}_{{forloop.counter}}'>{{forloop.counter}}) {{option}}</label>
    </div>


    {% endfor %}

</div>

{% endfor %}


<div class='button-container'>
    <input type='submit' value="Next" class='btn btn-dark' id="next">
</div>

</form>


{% endblock %}

