{% extends 'gender_base.html' %}

{% block content %}

<h3 class='title'> Instructions </h3>

<p> Thank you for agreeing to the consent form. The experiment will begin on the next page.</p>

<p>Please answer the questions in order. You will not be able to go back once you have submitted each page.</p>

<p> Click <b>Next</b> when you are ready to continue. </p>


<form action="/gp/treatment" method="POST">
    {% csrf_token %}
    <div class='button-container'>
        <input type='submit' value="Next" class='btn btn-dark' id="next">
    </div>
    <input type="hidden" name="db_id" value="{{db_id}}">
</form>

{% endblock %}
