{% extends 'gender_base.html' %}

{% block content %}

<script>

function adjustHeight(el) {
    // console.log(el)
    el.style.height = (el.scrollHeight + 2) + "px";
}

</script>

<form action="/gender/female_politicians">

<p>The next exercise requires you to use your creativity
and composition skills.</p>

<p>Here is a beginning of a story: </p>

<blockquote> "Today, I met a person who is
interested in running for a political office. This person is…" 
</blockquote>

<p> Complete the story by giving this person a first name and describing in two sentences what happens next.</p>

<textarea class="mediator-textarea" onkeyup="adjustHeight(this)"></textarea>


<div class='button-container'>
    <input type='submit' value="Next" class='btn btn-dark' id="next">
</div>

</form>

{% endblock %}

