{% extends 'gender_base.html' %}

{% block content %}

<form action="/gp/lgbt" method="POST">
    {% csrf_token %}
    <input type="hidden" name="db_id" value="{{db_id}}">

<p class="question">
    You will now be presented with some proposals aimed at improving certain aspects of American society and politics. Using the response options provided, please indicate how strongly you agree or disagree with each proposal. 
</p>

{% for question in questions %}

<div class='question'>

    <h3 class='question-title'>{{question.title}}</h3>

    {% for option in options %}
    <div class='radio-option'>
        <input type='radio' name='proposals_{{question.question_id}}' id='{{question_id}}_{{forloop.counter}}' value="{{option}}" required/>
        <label for='{{question_id}}_{{forloop.counter}}'>{{forloop.counter}}) {{option}}</label>
    </div>


    {% endfor %}

</div>

{% endfor %}


<div class='button-container'>
    <input type='submit' value="Next" class='btn btn-dark' id="next">
</div>

</form>


{% endblock %}

