{% extends 'gender_base.html' %}

{% block content %}

<form action="/gp/demographics" method="POST">
    {% csrf_token %}
    <input type="hidden" name="db_id" value="{{db_id}}">

{% for question in questions %}

<div class='question'>

    <h3 class='question-title'>{{question.title}}</h3>

    {% for option in question.options %}
    <div class='radio-option'>
        <input type='radio' name='qualifier_{{question.question_id}}' id='{{question_id}}_{{forloop.counter}}' value="{{option}}"/>
        <label for='{{question_id}}_{{forloop.counter}}'>{{forloop.counter}}) {{option}}</label>
    </div>


    {% endfor %}

</div>

{% endfor %}


<div class='button-container'>
    <input type='submit' value="Next" class='btn btn-dark' id="next">
</div>

</form>


{% endblock %}

