{% extends 'gender_base.html' %}

{% block content %}

<script>

function adjustHeight(el) {
    // console.log(el)
    el.style.height = (el.scrollHeight + 2) + "px";
}

</script>

<form action="/gender/mediator">

<p>
    The following task requires you to use your skills in visual recognition. 
</p>

<img class="treatment_stimulus" src="/static/gender/treatment_{{treatment}}.png"/>

<p class="question">
    Please use the text boxes below to describe in three sentences what the person in the image is doing. Please be as specific as possible and provide as much detail as you can.

    In your description of this individual, it is important that you use the pronouns “{{pronouns.0}}” and “{{pronouns.1}}. This will help to standardize the accounts provided by all participants in this survey, which will make them easier to interpret. 

</p>

<p class='treatment-container'> 
    <span class='treatment-label'> {{pronouns.0}} </span> 
    <textarea class="inline-input" onkeyup="adjustHeight(this)"></textarea>
</p>

<p class='treatment-container'> 
    <span class='treatment-label'> {{pronouns.0}} </span> 
    <textarea class="inline-input" onkeyup="adjustHeight(this)"></textarea>
</p>

<p class='treatment-container'> 
    <span class='treatment-label'> {{pronouns.1}} </span> 
    <textarea class="inline-input" onkeyup="adjustHeight(this)"></textarea>
</p>


<div class='button-container'>
    <input type='submit' value="Next" class='btn btn-dark' id="next">
</div>

</form>

{% endblock %}

