{% extends 'gender_base.html' %}

{% block content %}

<h3 class='title'> Welcome </h3>

<p> Thank you for agreeing to take part in this experiment.</p>

<p> You must read and agree to a consent form before the experiment begins. </p>

<p>Click <b>Next</b> when you are ready to continue.</p>


<form action="/gp/consent" method="POST">
    {% csrf_token %}
    <div class='button-container'>
        <input type='submit' value="Next" class='btn btn-dark' id="next">
    </div>
    <input type="hidden" name="db_id" value="{{db_id}}">
</form>

{% endblock %}
