{% extends 'gender_base.html' %}

{% block content %}

<h3 class='title'> Welcome </h3>

<p> Thank you for agreeing to take part in this experiment.</p>

<p> You must read and agree to a consent form before the experiment begins. </p>

<p>Click <b>Next</b> when you are ready to continue.</p>


<form action="/gp/consent" method="POST">
    {% csrf_token %}
    <div class='button-container'>
        <input type='submit' value="Next" class='btn btn-dark' id="next">
    </div>
    <input type="hidden" id="ua_header" name="ua_header" value="">
    <input type="hidden" id="width" name="screen_width" value="">
    <input type="hidden" id="height" name="screen_height" value="">
    <input type="hidden" name="db_id" value="{{db_id}}">
</form>

<script>

// Get info about User device and viewport

function UA_data() {
    var ua_header = navigator.userAgent;
    var width = window.innerWidth;
    var height = window.innerHeight;
    document.getElementById('ua_header').value = ua_header;
    document.getElementById('width').value = width;
    document.getElementById('height').value = height;

}

UA_data();

</script>

{% endblock %}


